*.exe

*.class

## File-based project format:
*.iws

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.vscode/.ropeproject

.gradle
build
.settings
.classpath
.project
bin

node_modules
__pycache__

# .NET build
obj

# scala
.metals
.bloop
.ammonite/
metals.sbt
null
target
project
scalacode/target/
scalacode/project/

# jenv
.java-version

# C++
code
cplusplus/code.*/
c/code.*/

.DS_Store

typescript/out/
